.section {
  background-color: var(--beige);

  display: flex;
  justify-content: space-evenly;
  padding: 0rem var(--horizontal-padding);
  position: relative;
  overflow: hidden;
}

.main_container {
  opacity: 0;
  height: 100vh;
}

.news_container {
  --black: rgb(32, 32, 32);

  opacity: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;

  padding: 4rem 2.5rem;
}

.line_top,
.line_right,
.line_bottom,
.line_left {
  position: absolute;

  width: 97%;
  height: 3px;

  background-color: rgb(48, 48, 48);
}

.line_top {
  top: 3rem;
  left: 50%;

  transform: translateX(-50%);
}

.line_bottom {
  bottom: 3rem;
  left: 50%;

  transform: translateX(-50%);
}

.line_left {
  top: 50%;
  left: 3rem;

  height: 95%;
  width: 3px;

  transform: translateY(-50%);
}

.line_right {
  top: 50%;
  right: 3rem;

  height: 95%;
  width: 3px;

  transform: translateY(-50%);
}

.rotate_background {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 15px solid var(--beige);

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cutout_button {
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;
  height: 100%;

  animation: move 5s linear 0.5s infinite;
}

.cutout_button > div {
  transition: 100ms;
  height: 100%;
}

.cutout_button > div:hover {
  filter: grayscale(1);
  transform: scale(0.9) translateY(5%);
}

.cutout_button > div > img {
  height: 100%;
}

@keyframes move {
  0% {
    transform: translate(-50%, 0px);
  }
  25% {
    transform: translate(-45%, 10px);
  }
  50% {
    transform: translate(-50%, -5px);
  }
  75% {
    transform: translate(-55%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.left_article {
  max-width: 60%;
}

.left_article > h1 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: max(4rem, 7vmax);

  color: var(--black);
}

.paragraph p {
  font-family: "Abhaya Libre", serif;
  font-size: 1.2rem;
  display: inline;
}

.paragraph h1 {
  display: inline-block;
  font-family: "Abhaya Libre", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
}

.paragraph > img {
  filter: grayscale(0.9) contrast(0.8);
  width: max(150px, 27.5vmin);
  background-color: black;
  float: left;
  margin-right: 1.5vw;
}

.read_more {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  background-color: transparent;
}

.right_article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right_article > h2 {
  margin-top: 1rem;
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 4rem;

  color: var(--beige);
  background-color: var(--black);
  padding: 0rem 1rem;
  padding-top: 0.25rem;
}

.right_article > p {
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-family: "Abhaya Libre", serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.right_article > img {
  filter: grayscale(1) contrast(0.7);
  max-height: 20rem;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: 1rem;
}

.right_article > button {
  align-self: flex-end;

  font-family: "Abhaya Libre", serif;
  font-size: 2rem;
  font-weight: bold;

  background-color: transparent;
  color: var(--black);

  display: flex;
  align-items: center;

  padding: 0rem 0.5rem;
  padding-top: 0.25rem;
  transition: 150ms;
}

.right_article > button:hover {
  background-color: var(--black);
  color: var(--beige);
}

.right_article > button > * {
  margin-left: 1rem;
}

@media (max-width: 700px) {
  .news_container {
    flex-wrap: wrap;
  }

  .cutout_button {
    bottom: -10%;
    height: 90%;
  }

  .left_article {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .news_container {
    padding: 2rem 0rem;
  }
  .line_top {
    top: 1rem;
  }

  .line_bottom {
    bottom: 1rem;
  }

  .line_left {
    left: 1rem;
    height: 99%;
  }

  .line_right {
    right: 1rem;
    height: 99%;
  }
}

/**
* CSS Transition
*/
.opacity_enter {
  opacity: 0;
}

.opacity_enter_active {
  transition: 500ms;
  opacity: 1;
}

.opacity_exit {
  opacity: 1;
}

.opacity_exit_active {
  transition: 500ms;
  opacity: 0;
}

.card_hide {
  opacity: 0;
  transition: 0.76s ease-in-out;
  transform: rotateX(60deg);
}

.card_show {
  opacity: 1;
  transition: 0.7s ease-in-out;
  transform: rotateX(0deg);
}
