.section {
  min-height: 100vh;
  background-size: cover;
  background-color: rgb(22, 22, 22);
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 2rem var(--horizontal-padding);
  padding-bottom: 3rem;

  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.section > div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(1fr, auto);
  justify-items: center;
  align-items: start;
  color: var(--beige);
}

.title {
  font-family: "Abril Fatface", sans-serif;
  color: white;
  font-size: max(3rem, 7vmax);

  margin-bottom: 1.5rem;
  grid-column: 1 / -1;

  position: relative;
}

.title:after {
  position: absolute;
  display: block;
  content: "";

  bottom: 3px;
  width: 100%;
  height: 3px;
  background-color: white;
}

.project_container {
  width: 100%;
  min-height: 10vh;

  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  opacity: 0;
}

.stagger_animation {
  animation: fadein 0.5s linear calc(var(--animation-order) * 200ms) forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image_button {
  background-color: white;
  width: 100%;

  filter: grayscale(0.5);
  display: flex;
  position: relative;
}

.image_button:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0;
  transition: 200ms;
}

.image_button:hover::after {
  opacity: 0.7;
}

.image_button h2 {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: var(--beige);
  width: 100%;
  text-align: center;

  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Abhaya Libre", serif;
}

.image_button img {
  border: 7px solid var(--beige);
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.5 / 1;
}

.spread_row {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-top: 1rem;
  overflow: hidden;
  position: relative;
}

.spread_row > * {
  z-index: 1;
}

.spread_row > h2 {
  font-family: "Abhaya Libre", serif;
  font-size: 2.5rem;
  font-weight: bold;

  line-height: 2.5rem;

  color: var(--beige);
}

.spread_row > p {
  font-size: 1.1rem;
  flex: 1;
  font-family: "Abhaya Libre", serif;
  color: var(--beige);
  overflow: auto;
}

.show_more_button {
  background-color: var(--beige);
  padding: 0rem 0.5rem;

  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  color: var(--dark-grey);
  font-size: 1.25rem;

  transition: 200ms;
}

.show_more_button:hover {
  transform: scale(1.1);

  background-color: transparent;
  color: var(--beige);
}

@media (max-width: 600px) {
  .section > div {
    grid-template-columns: 1fr;
  }

  .project_container {
    padding: 2rem 0rem;
  }

  .spread_row > h2 {
    font-size: 2.5rem;
  }

  .spread_row > p {
    font-size: 0.9rem;
  }
}
