.section {
  background-color: var(--dirty-blue);
  background-image: url("../../assets/paper.png");
  background-size: cover;

  overflow: hidden;
  position: relative;
}

.content {
  padding-top: var(--header-height);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);

  display: flex;
  justify-content: space-evenly;

  width: 100%;
  min-height: 90vh;
  animation: onload 0.5s linear;
  position: relative;
}

@keyframes onload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/**
* Welcome Text Container
*/

.section .welcome_container {
  width: 40%;
  z-index: 2;
}

.title {
  composes: title from "../../index.css";
}

.welcome_container > p {
  font-family: "Bellota Text", serif;
  font-weight: bold;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--beige);
}

.see_more {
  border: none;
  background-color: transparent;
  width: 80%;
  aspect-ratio: 3.6 / 1;

  margin-top: 2rem;

  background-image: url("../../assets/see_more.webp");
  background-size: 100% 100%;
  transition: 200ms;
  z-index: 3;
}

.see_more:hover {
  transform: scale(1.05);
}
.see_more:active {
  filter: grayscale(0.6);
}
.see_more:focus-visible {
  outline: 2px solid var(--beige);
}

/**
* TV Container
*/

.section .tv_container {
  padding: 0rem;
  min-width: 400px;
  min-height: 450px;
  position: relative;
}

.tv {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: calc(50% - 75px);

  transform: translate(-50%, -50%);

  width: 550px;
  aspect-ratio: 1/1;
  z-index: 2;
}

.photo,
.error_container {
  position: absolute;
  left: calc(50% - 55px);
  top: 50%;

  transform: translate(-50%, -50%);

  width: 300px;
  height: 255px;
  z-index: 1;
  object-fit: cover;

  filter: contrast(1.2) grayscale(0.5);
  pointer-events: none;
}

.error_container {
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.error_container > h2 {
  color: var(--beige);
  text-align: center;
  font-size: 3rem;
}

.error_container > p {
  color: var(--beige);
  text-align: center;
}

.tv_floor {
  background-image: url("../../assets/paper.png");
  background-size: fill;

  position: absolute;
  left: 50%;
  bottom: calc(50% - 225px);

  transform: translate(-50%, 0%);

  width: 500px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--beige);
  box-shadow: 3px 7px var(--shadow);
}

.switch,
.switch_2 {
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../assets/tv_switch.png");
  background-size: contain;

  width: 55px;
  height: 55px;
  position: absolute;
  left: calc(50% + 135px);
  top: calc(50% - 115px);

  z-index: 3;
  transition: transform 200ms;
  animation: shake 1s linear 0.5s infinite;
}

.switch_2 {
  top: calc(50% - 45px);
  animation: shake 1s linear 0.75s infinite;
}

.tv_container .rotate {
  animation: turn 0.2s linear 0.1s;
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(40deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
}

@keyframes turn {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(60deg);
  }
}

.dot {
  position: absolute;
  object-fit: contain;
  top: 400px;
  left: calc(50%);

  opacity: 0.3;
  object-fit: fill;

  width: 125vw;
  transform: translateX(-50%) rotateZ(-40deg);
}

.address {
  z-index: 2;
  position: absolute;
  left: 0.5rem;
  bottom: 0px;
}

.address a {
  color: var(--beige);
  margin-right: 0.5rem;
}

.address a:focus-within {
  outline: 2px solid var(--beige);
}

@media (max-width: 1200px) {
  .tv {
    top: calc(50% - 50px);
    width: 400px;
  }

  .photo,
  .error_container {
    left: calc(50% - 40px);
    width: 225px;
    height: 200px;
  }

  .error_container > h2 {
    font-size: 2.5rem;
  }

  .tv_floor {
    bottom: calc(50% - 175px);

    width: 400px;
    height: 100px;
  }

  .switch,
  .switch_2 {
    width: 45px;
    height: 45px;
    left: calc(50% + 95px);
    top: calc(50% - 80px);
  }

  .switch_2 {
    top: calc(50% - 32.5px);
  }
}

@media (max-width: 700px) {
  .content {
    flex-wrap: wrap;
  }

  .content > .welcome_container {
    width: 100%;
  }

  .title,
  .see_more {
    align-self: center;
  }

  .see_more {
    width: 100%;
  }

  .section .tv_container {
    margin-top: -80px;
  }
  .section > div:first-of-type {
    margin-top: 25px;
  }

  .tv_floor {
    bottom: 5%;
  }
}

@media (max-width: 400px) {
  .tv {
    top: calc(50% - 75px);
    width: 300px;
  }

  .photo,
  .error_container {
    left: calc(50% - 30px);
    top: calc(50% - 35px);
    width: 175px;
    height: 140px;
  }

  .error_container > h2 {
    font-size: 1.5rem;
  }

  .tv_floor {
    bottom: calc(50% - 100px);

    width: 300px;
    height: 75px;
  }

  .switch,
  .switch_2 {
    width: 30px;
    height: 30px;
    left: calc(50% + 73px);
    top: calc(50% - 95px);
  }

  .switch_2 {
    top: calc(50% - 60px);
  }

  .section .tv_container {
    margin-top: -80px;
  }
}
