.footer {
  min-height: 8rem;
  background-color: var(--dark-grey);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.footer * {
  color: var(--beige);
}

.footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > div > a {
  padding: 0rem 1rem;
  transition: 200ms;
}

.footer > div > a:hover {
  transform: scale(1.1);
}

.footer > p {
  font-family: "Market Deco", sans-serif;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}
