.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);

  background-color: var(--beige);
  box-shadow: 0px 4px 5px #35353562;

  transition: transform 200ms;
  z-index: 5;
}

.hide {
  transform: translateY(calc(var(--header-height) * -1 - 20px));
}

nav {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  width: 50%;
  min-width: 45rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.light_switch {
  background-image: url("../assets/light_switch.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  width: 30px;
  height: 50px;

  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 0.75rem;
  z-index: 1;
  transform: rotateZ(180deg) translateY(50%);
}

.light_switch_active {
  transform: translateY(-50%);
}

.header_anchor {
  font-family: "Market Deco";
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgb(97, 97, 97);

  text-decoration: none;
  position: relative;
  transition: 200ms;
}

.header_anchor:after {
  content: "";
  display: block;

  position: absolute;
  bottom: -4px;

  width: 100%;
  height: 3px;
  border-bottom: 3px dotted var(--red);
}

.header_anchor:hover {
  font-size: 1.65rem;
}

.header_anchor:focus {
  color: var(--red);
  text-shadow: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 3px solid var(--blue);
}

.header_anchor:focus-within:focus-visible::after {
  border: none;
}

.title {
  background-image: url("../assets/title.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  text-decoration: none;
  font-family: "Market Deco";
  color: white;
  padding: 0.75rem 3.5rem;
  text-shadow: none;
  font-size: 3rem;

  position: relative;
  top: 15px;
  transition: 200ms;
}

.title:after {
  display: none;
}

.title:focus {
  filter: grayscale(0.75);
  text-shadow: none;
  color: white;
}

.title:hover {
  font-size: 3.25rem;
  padding: 1rem 4rem;
}

.menu_active {
  right: 0px;
}

.mobile_title {
  display: none;
  position: relative;
}

.mobile_title > button {
  border: none;
  color: var(--red);
  background-color: transparent;

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  display: none;
  transition: 200ms;
}

.mobile_title > button:active {
  filter: brightness(0.5);
}

.cancel_button {
  display: none;
}

@media (max-width: 700px) {
  nav {
    position: fixed;
    top: 0px;
    right: -100%;
    bottom: 0px;

    width: auto;
    height: calc(100vh * 2);
    padding: 3rem 1rem;
    background-color: var(--beige);
    align-items: flex-start;
    transition: 400ms;
  }

  .menu_active {
    right: 0px;
  }

  nav > ul {
    min-width: auto;
    flex-direction: column;
  }

  ul > li {
    margin-bottom: 1rem;
  }

  /* Hide the title */
  ul > li:nth-child(4) {
    display: none;
  }

  .mobile_title {
    display: initial;
    display: flex;
    justify-content: center;
  }

  .mobile_title > button {
    display: initial;
  }

  .cancel_button {
    display: initial;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;

    color: var(--red);
  }
}
