.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);

  background-color: var(--beige);
  box-shadow: 0px 4px 5px #53535362;

  transition: transform 200ms;
  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;
}

.hide {
  transform: translateY(calc(var(--header-height) * -1 - 45px));
}

nav {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  width: 40%;
  min-width: 40rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.light_switch {
  background-image: url("../assets/light_switch.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  width: 30px;
  height: 50px;

  cursor: pointer;
  transform: rotateZ(180deg);
}

.header > button:last-of-type {
  border: none;
  color: var(--red);
  background-color: transparent;

  transition: 200ms;
}

.header > button:last-of-type:active {
  filter: brightness(0.5);
}

.header_anchor {
  font-family: "Market Deco", sans-serif;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgb(97, 97, 97);

  text-decoration: none;
  position: relative;
  transition: 200ms;
}

.header_anchor:after {
  content: "";
  display: block;

  position: absolute;
  bottom: -4px;

  width: 100%;
  height: 3px;
  border-bottom: 3px dotted var(--red);
}

.header_anchor:hover {
  font-size: 1.65rem;
}

.header_anchor:focus {
  color: var(--red);
  text-shadow: none;
}

.header_anchor:focus-visible::after {
  border: none;
}

.title {
  z-index: 8;
  top: 30px;
  position: relative;
}

.title img {
  width: 7.5rem;
  transition: 200ms;
  object-fit: contain;
}

.title img:hover {
  transform: scale(1.1);
}

.title:focus {
  filter: grayscale(0.75);
  text-shadow: none;
  color: white;
}

.cancel_button {
  display: none;
}

@media (max-width: 700px) {
  .header {
    --header-height: 4rem;
    padding: 0rem 0.75rem;
  }

  .menu_active {
    right: 0px;
  }

  nav > ul {
    min-width: auto;
    flex-direction: column;
  }

  ul > li {
    margin-bottom: 1rem;
  }

  .title {
    top: 30px;
  }

  .title img {
    width: 6rem;
  }

  .side_nav {
    z-index: 5;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;

    width: 150px;
    height: calc(100vh * 2);
    padding: 3rem 1rem;
    background-color: var(--beige);
    align-items: flex-start;

    display: flex;
    justify-content: center;
  }

  .mobileNavEnter {
    right: -100%;
  }

  .mobileNavEnterActive {
    transition: 400ms;
    right: 0px;
  }

  .mobileNavExit {
    right: 0px;
  }

  .mobileNavExitActive {
    transition: 400ms;
    right: -100%;
  }

  /**
  * Hide the title
  */
  .side_nav li:nth-of-type(3) {
    display: none;
  }

  .cancel_button {
    display: initial;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;

    color: var(--red);
  }
}
