.main {
  min-height: 100vh;
  padding: calc(var(--header-height) + 2rem) 10vw;
  background-color: var(--beige);

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.main h3 {
  font-family: "Abhaya Libre", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.main h2 {
  font-family: "Abhaya Libre", sans-serif;
  font-weight: bold;
  font-size: max(3.5vmax, 2.25rem);
  margin-bottom: 1rem;
}

.main p {
  font-size: 1.5rem;
}

.main span {
  margin-top: 0rem;
}

.main img:not(.old_texture) {
  filter: grayscale(0.4) contrast(0.9);
}

.main ol,
.main ul {
  margin-top: 1rem;
}

.main li {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 1rem;
}

.old_texture {
  composes: old-texture from "../index.css";
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.25;
  object-fit: cover;
}

.row,
.row_space_between {
  display: flex;
  align-items: center;
}

.row_space_between {
  justify-content: space-between;
}

.heading {
  font-family: Impact, "Anton", sans-serif;
  font-size: max(6vmax, 4rem);
  text-align: center;
}

.main .title {
  margin-top: 1rem;
  font-size: 7vmax;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-grey);
}

.line_box {
  margin: 0.75rem 0rem;
}

.description_container {
  display: flex;
  margin-bottom: 4rem;
  align-items: flex-start;
}

.description > p {
  display: inline;
}

.description > h1 {
  display: inline-block;
  font-family: "Abhaya Libre", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
}

.description .image_button {
  min-width: 15rem;
  max-width: 40rem;
  float: left;
  margin-right: 1rem;
}

.description .image_button > img {
  max-height: 25rem;
}

.stack_links_container {
  padding: 2rem 2rem;
  min-width: fit-content;
  position: relative;
}

.stack_links_container h2 {
  font-size: 2.5rem;
  width: fit-content;

  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  position: relative;
}

.stack_links_container h2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 2px;
  background-color: var(--dark-grey);
}

.stack_links_container p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.stack_links_container > div:last-child {
  display: flex;
  justify-content: space-evenly;
}

.stack_links_container a {
  text-decoration: none;
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
  text-align: center;

  padding: 0rem 1rem;
  margin: 0rem 0.5rem;
  width: 80%;

  border: 2px solid var(--dark-grey);
  color: var(--dark-grey);
  transition: 200ms;
}

.stack_links_container a:hover {
  background-color: var(--dark-grey);
  color: var(--beige);
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.container_title {
  display: inline-block;
  background-color: var(--dark-grey);
  color: var(--beige);

  align-self: flex-start;
  margin-bottom: 0.5rem;
  padding: 0rem 0.5rem;
  padding-top: 0.25rem;
}

.container .image_button {
  float: left;

  max-width: 40rem;
  min-width: 15rem;

  margin-bottom: 1rem;
}

.container .image_button > img {
  max-height: 30rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lessons_container {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--dark-grey);
  padding: 1.5rem;
}

.lessons_container > h2 {
  text-align: center;
  align-self: center;
  position: relative;
}

.gallery_images > div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery_images h3 {
  margin-top: 2rem;
  font-family: Impact, "Anton", sans-serif;

  font-size: max(3vmax, 2rem);
  width: fit-content;
  color: var(--beige);

  padding: 2.5rem;
  background-image: url("../assets/spiky.png");
  background-size: 100% 100%;
}

.gallery_images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.gallery_images > button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  margin-top: 1rem;
  background-color: transparent;

  height: 30vh;
}

.image_button {
  position: relative;
  display: flex;
  align-items: center;
}

.image_button:after {
  position: absolute;
  top: 0px;
  left: 0px;

  display: block;
  content: "";
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: black;
}

.image_button:hover:after {
  transition: 200ms;
  opacity: 0.7;
}

.image_button > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 3px solid var(--beige);
}

.image_button > h2 {
  width: 100%;

  pointer-events: none;
  color: var(--beige);
  font-weight: bold;

  font-size: 2rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_content {
  height: 100%;
  max-width: 100%;
  width: fit-content;

  overflow-x: auto;
  overflow-y: hidden;
}

.modal_content > img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .main p {
    font-size: 1.25rem;
  }
}

@media (max-width: 860px) {
  .heading {
    font-size: 10vw;
  }

  .main .title {
    font-size: 10vw;
  }

  .main h3 {
    font-size: 1.1rem;
  }

  .stack_goals_container {
    padding: 0rem;
    padding-top: 2rem;
  }

  .container {
    margin-bottom: 2rem;
  }

  .description > h1 {
    font-size: 2rem;
  }

  .description_container {
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 1rem;
  }

  .stack_links_container > div {
    width: 100%;
    flex-wrap: wrap;
  }

  .stack_links_container > div:last-child > * {
    display: block;
    margin: 0rem;
    margin-top: 1rem;
  }

  .right_side {
    margin-top: 2rem;
    padding: 0;
  }

  .right_side:after {
    width: 0;
  }

  .gallery_images > button {
    height: auto;
  }
}
