@font-face {
  font-family: "Franky";
  src: local("Franky"), url("./fonts/franky.otf") format("opentype");
}

@font-face {
  font-family: "Market Deco";
  src: local("Market Deco"), url("./fonts/market-deco.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Bellota Text", cursive;
  font-weight: "400";
}
