@font-face {
  font-family: "Franky";
  src: local("Franky"), url("./fonts/franky.otf") format("opentype");
}

@font-face {
  font-family: "Market Deco";
  src: local("Market Deco"), url("./fonts/market-deco.ttf") format("truetype");
}

:root {
  --header-height: 5rem;
  --horizontal-padding: 2rem;
  --beige: #e4ddd4;
  --red: #da5c46;
  --dark-grey: rgb(0, 0, 0);
  --grey: #454545;
  --dark-purple: #221c50;
  --light-blue: #2fb3b9;
  --blue: #53acb1;
  --dirty-blue: #37a1a7;
  --shadow: rgba(49, 49, 49, 0.397);
}

.body {
  font-family: "Bellota Text", cursive;
  font-weight: "400";
}

main {
  width: 100%;
  background-color: var(--beige);
  background-image: url("./assets/paper.png");
  background-size: cover;
}

.black_and_white {
  filter: grayscale(1);
}

h1 {
  font-family: "Market Deco", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Market Deco", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

p {
  font-family: "Bellota Text", serif;
  font-size: 1.1rem;
}

button {
  border: none;
  font-family: "Bellota Text", serif;
  font-size: 1.1rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.old-texture {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  object-fit: cover;
  filter: brightness(0.8);
}
